---

---
<section class="w-full bg-red-800 text-white items-center p-6">
    <div class="max-w-7xl mx-auto text-left">
        <p class="ml-3">© Copyright 2026 by <span class="font-bold">Servel</span></p>
    </div>
</section>
