---

---

<section class= "h-20">
    <div class="text-center py-10">
        <h1 class="uppercase font-bold xl:text-4xl md:text-2xl text-xl text-red-800">
            ¡TU RED MERECE LO MEJOR!
        </h1>
        <p>
            Brindamos soluciones de redes tecnologícas TP-link: confiable, profesionales y eficientes. Todo lo que tu hogar o negocio necesita en un solo lugar.
        </p>   
    </div>
    </div>
</section>