---
import Button from "./Button.astro";


---
<section class="bg-red-800 h-96">
    <div class="text-center py-10">
        <h1 class="uppercase font-bold xl:text-4xl md:text-2xl text-xl text-white">Nuestros servicios</h1>
    </div>
</section>
