---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="es">
	<head>
		<BaseHead title='Integración Tecnológica' description='Servicios de reparación y componentes' />
	</head>
	<body>
		<main class="max-w-[1650px] m-auto">
			<slot/>
		</main>
	</body>
</html>
 