---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
	<head>
		<BaseHead
			title="Servel Computadoras"
			description="Servicios de reparación y componentes"
		/>
	</head>
	<body>
		<main class="max-w-[1650px] m-auto">
			<slot />
		</main>
		<Footer/>
	</body>
</html>
