---
import BaseHead from '../components/BaseHead.astro';

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title=''/>
	</head>
	<body>
		<main class="max-w-[1650px] m-auto">
			<slot/>
		</main>
	</body>
</html>
 